nav {
    width: 100%;
    display: flex;
    flex-basis: var(--hNav);
    height: 50px;
    z-index: 2;
}

nav > a {
    text-decoration: none;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}

nav > a.current {
    border-bottom: none;
    background-color: lightgrey;
}